*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    filter:Alpha(Opacity=80);opacity:0.8;
    font-family: “Arial”,”Microsoft YaHei”,”黑体”,”宋体”,sans-serif;
}
canvas#c{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
.accordian{

    width: 96%;
    overflow: hidden;
}

.accordian ul:hover li{
    width: 3%;
}

.accordian ul li:hover{
    width: 32%;
}

.accordian ul{
    width: 200%;
}

.accordian li{
    position: relative;
    float: left;
    width: 8%;   /*200% * 11% = 22%*/
    border-left: 1px solid #888;

    box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    list-style-type: none;
}

img.accordian_img{
    min-width: 640px;
    min-height: 400px;
    max-height: 400px;
    max-width: 640px;
}
div.image_title{
    background: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 640px;
}

div.image_title a{
    padding: 20px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    display: block;
}

#intro{
    margin-top: 70px;
    width: 90%;
    height: 100px;
    padding: 15px;
    margin-left: 4%;
    color: white;
    /*text-align: right;*/
    line-height: 200%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-align: center;
    background-color: rgba(169,169,169,0.5);
    box-shadow: rgba(255,255,255,0.3) 0 0 10px;
    /*background: -webkit-linear-gradient(right,darkgrey,transparent);*/
}

.footer{
    display: none;
}
