body{
    background: url("bg.jpg") right;
    background-repeat:no-repeat;
    background-attachment: fixed;
}

part {
    margin: 0 1% 3%;
    box-shadow: 0 1px 2px rgba(34, 25, 25, 0.2);
    background-color: #fefefe;
    max-width: 42%;
    padding: 2.5% 2.5% 10px;
    display: inline-block;
}

part a img{
    display: block;  /*img作为block独占一行，避免出现caption于img同一行的情况*/
    max-width: 100%;
    padding-bottom: 10px;
    margin-bottom: 5px;
    -webkit-transition: all 0.5s;
}

part a img:hover{
    -webkit-filter: contrast(150%);
}

part figcaption{
    font-size: .7rem;
    color: #999;
    line-height: 2.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.pagination_box{
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
    text-align: center;
}

.pagination > li {
    display: inline
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.pagination > li:last-child > a, .pagination > li:last-child > span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd
}